html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

#left {
    width: 50%;
    float: left;
    background-color: #00558F;
    height: 100%;
    min-height: 100%;
    position: relative;
    min-width: 160px;
}
#leftMain {
    max-width: 300px;
    min-width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
#leftMain img {
    max-width: 100%;
    height: auto;
    min-width: 15px;
    min-height: 150px;
    border-radius: 20px;
}
#leftMain p {
    text-align: center;
    color: #fff;
}
#name {
    font-size: 32px;
    margin: 0;
}
#hoge {
    font-size: 12px;
    margin: 0;
}

#right {
    width: 50%;
    float: left;
    height: 100%;
    min-height: 100%;
    text-align: center;
    position: relative;
    background-color: #CAE5CD;
}
#link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
#link p {
    font-size: 26px;
}
a {
    text-decoration: none;
    color: #009dff;
}
#link h3 {
    font-size: 32px;
}
#link h3, #link p {
    margin: 12px 0;
}

@media screen and (max-width: 320px) {
    #link p {
        font-size: 20px;
    }
}
@media screen and (max-width: 380px) {
    #link p {
        font-size: 22px;
    }
}