html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
html, body {
    overflow-x: hidden;
    overflow-y: hidden;
}

#left {
    width: 50%;
    float: left;
    background-color: #009688;
    height: 100%;
    min-height: 100%;
    min-width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#leftMain {
    max-width: 300px;
    min-width: 150px;
    margin: 5px;
}
#leftMain img {
    max-width: 100%;
    height: auto;
    min-width: 15px;
    min-height: 150px;
    border-radius: 20px;
}
#leftMain p {
    text-align: center;
    color: #fff;
}
#name {
    font-size: 32px;
    margin: 0;
}

#right {
    width: 50%;
    float: left;
    height: 100%;
    min-height: 100%;
    text-align: center;
    position: relative;
    background-color: #B2DFDB;
    display: flex;
    justify-content: center;
    align-items: center;

}
a {
    text-decoration: none;
    color: #004D40;
}
.section p {
    font-size: 2vw;
}
#about p {
    font-size: 2vw;
}
.section h3 {
    font-size: 4vw;
    font-weight: normal;
}
.section h3, .section p {
    margin: 12px 0;
}
@media screen and (max-width: 800px) {
    .section h3 {
        font-size: 5vw;
    }
    .section p {
        font-size: 4vw;
    }
}
@media screen and (max-width: 500px) {
    .section h3 {
        font-size: 7vw;
    }
    .section p {
        font-size: 5vw;
    }
}